html { scroll-behavior: smooth; }

html, body { min-height: 100vh; }

body.is-flex { min-height: 100vh; }

.table-actions { white-space: nowrap; }
.table-actions .button { margin-right: .25rem; }

.field .help.is-danger { font-weight: 500; }

.navbar-menu.is-active { display: flex; }
