## .NET
bin/
obj/
out/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / VS
.idea/
.vs/
*.DotSettings.user

## Logs
*.log
logs/

## OS
.DS_Store
Thumbs.db

## Env / secrets
*.env
appsettings.Local.json
